#gralde build
build
*/build
gradle
.gradle
classes
gradlew*


#idea
.idea
*.iml
out

#java
*.class
#*.jar
*.war
*.ear
phoenix_log/

#elastic
data

#vscode
.classpath
.project
*/bin
*/.settings
.settings